<div
    class="hs-dropdown xl:[--strategy:absolute] [--adaptive:none] md:[--trigger:hover] sm:relative ms-3">
    <a id="hs-dropdown-hover-event-profile"
        class="relative hs-dropdown-toggle cursor-pointer align-middle rounded-full">
        <div class="flex gap-4">
            <div class="relative">
                <img class="object-cover w-11 h-11 rounded-full"
                    src="../../../assets/images/profile/user-1.jpg" alt
                    aria-hidden="true">
                <span class="h-3.5 w-3.5 rounded-full bg-success block absolute top-0 -end-1 border-2 border-white dark:border-dark"></span>    

            </div>
            <div class="hidden sm:block">
                <h6
                    class="font-bold text-dark dark:text-white text-base mb-1 profile-name">
                    Mike Nielsen
                </h6>
                <p
                    class="text-sm leading-tight mb-0 text-link dark:text-darklink">
                    Admin
                </p>
            </div>
        </div>
    </a>
    <div
        class="card hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 mt-2 min-w-max top-auto right-0 rtl:right-auto rtl:left-0 w-full sm:w-[385px] hidden z-[2] border-none "
        aria-labelledby="hs-dropdown-hover-event-profile">
        <div class="card-body p-7">
            <div class="flex items-center pb-5 justify-between">
                <h3
                    class="mb-0 text-lg font-semibold text-dark dark:text-white">User
                    Profile</h3>
            </div>
            <div class="message-body max-h-[450px]" data-simplebar>
                <div class>
                    <div
                        class="flex items-center gap-6 pb-5 border-b dark:border-darkborder">
                        <img src="../../../assets/images/profile/user-1.jpg"
                            class="h-[90px] w-[90px] rounded-full object-cover"
                            alt="profile">
                        <div class>
                            <h5
                                class="card-title">
                                Mike Nielsen
                            </h5>
                            <span
                                class="card-subtitle">super
                                admin</span>
                            <p
                                class=" mb-0 mt-1 flex items-center">
                                <iconify-icon icon="solar:mailbox-line-duotone"
                                    class="text-base me-1"></iconify-icon>
                                info@spike.com
                            </p>
                        </div>
                    </div>

                    <ul class="mt-3 flex flex-col gap-3.5">
                        <li>
                            <a href="../../../minisidebar/page-user-profile.html"
                                class="flex gap-5 items-center bg-hover relative group p-2 rounded-sm">
                                <span
                                    class="bg-lightinfo dark:bg-darkinfo p-2 hover:bg-info group text-info hover:text-white rounded-sm flex justify-center items-center">
                                    <iconify-icon
                                        icon="solar:wallet-2-line-duotone"
                                        class="text-2xl "></iconify-icon>
                                </span>

                                <div>
                                    <h6
                                        class="font-medium text-base leading-tight mb-1  group-hover:text-primary">
                                        My Profile
                                    </h6>
                                    <p
                                        class="text-sm  font-normal leading-tight">
                                        Account settings</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../../../minisidebar/app-email.html"
                                class="flex gap-5 items-center p-2 rounded-sm bg-hover relative group">
                                <span
                                    class="bg-lightsuccess dark:bg-darksuccess p-2 hover:bg-success group text-success hover:text-white rounded-sm flex justify-center items-center">
                                    <iconify-icon
                                        icon="solar:shield-minimalistic-line-duotone"
                                        class="text-2xl"></iconify-icon>
                                </span>

                                <div>
                                    <h6
                                        class="font-medium text-base leading-tight mb-1  group-hover:text-primary">
                                        My Inbox
                                    </h6>
                                    <p
                                        class="text-sm  font-normal leading-tight">
                                        Messages & Emails</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../../../minisidebar/app-kanban.html"
                                class="flex gap-5 items-center p-2 rounded-sm bg-hover relative group">
                                <span
                                    class="bg-lighterror dark:bg-darkerror p-2 hover:bg-error group text-error hover:text-white rounded-sm flex justify-center items-center">
                                    <iconify-icon
                                        icon="solar:card-2-line-duotone"
                                        class="text-2xl"></iconify-icon>
                                </span>

                                <div>
                                    <h6
                                        class="font-medium text-base leading-tight mb-1  group-hover:text-primary">
                                        My Task
                                    </h6>
                                    <p
                                        class="text-sm  font-normal leading-tight">
                                        To-do and Daily Tasks</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mt-5">
                <a href="../../../minisidebar/authentication-login.html"
                    class="btn w-full block">
                    Log Out
                </a>
            </div>
        </div>
    </div>
</div>