<div
    class="hs-dropdown  [--strategy:static] xl:[--strategy:absolute] [--adaptive:none] xl:[--trigger:hover] relative group/menu">
    <button type="button"
        class=" xl:w-auto w-full gap-2  header-link hover:text-primary dark:hover:text-primary hover:bg-lightprimary text-dark dark:text-white font-medium text-base py-2 px-3  rounded-md flex items-center group-hover/menu:text-primary group-hover/menu:bg-lightprimary">
       Pages
        <i
            class="ti ti-chevron-down  ms-auto xl:text-sm text-xl"></i>
    </button>

    <div
        class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] sm:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 xl:-right-80 hidden z-10 sm:mt-3 top-full xl:w-[900px] before:absolute xl:bg-white bg-transparent dark:bg-dark xl:shadow-md shadow-none">
        <div class="grid grid-cols-12">
            <div
                class="lg:col-span-8 col-span-12 flex items-stretch lg:px-8 lg:pr-0 px-0 py-8 pb-0">
                <div class="grid grid-cols-12 lg:gap-3 w-full">
                    <div
                        class="col-span-12 lg:col-span-6 flex items-stretch pb-2.5">
                        <ul class="flex flex-col gap-5">
                            <li>
                                <a href="../../../horizontal/app-chat.html"
                                    class="flex gap-3 items-center group relative ">
                                    <span
                                        class="bg-lightgray dark:bg-darkprimary  h-11 w-11 flex justify-center items-center rounded-sm">
                                        <img
                                            src="../../../assets/images/svgs/icon-dd-chat.svg"
                                            class="h-6 w-6">
                                    </span>
                                    <div class>
                                        <h6
                                            class="text-fs_15  group-hover:text-primary mb-1 ">
                                            Chat Application
                                        </h6>
                                        <p
                                            class="text-xs text-dark dark:text-darklink opacity-90 font-normal">
                                            New messages arrived</p>
                                    </div>

                                </a>
                            </li>
                            <li>
                                <a href="../../../horizontal/app-invoice.html"
                                    class="flex gap-3 items-center group relative ">
                                    <span
                                        class="bg-lightgray dark:bg-darkprimary  h-11 w-11 flex justify-center items-center rounded-sm">
                                        <img
                                            src="../../../assets/images/svgs/icon-dd-invoice.svg"
                                            class="h-6 w-6">
                                    </span>
                                    <div class>
                                        <h6
                                            class="text-fs_15  mb-1  group-hover:text-primary ">
                                            Invoice App
                                        </h6>
                                        <p
                                            class="text-xs text-link dark:text-darklink  font-normal">
                                            Get latest invoice</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="../../../horizontal/app-contact.html"
                                    class="flex gap-3 items-center group relative ">
                                    <span
                                        class="bg-lightgray dark:bg-darkprimary  h-11 w-11 flex justify-center items-center rounded-sm">
                                        <img
                                            src="../../../assets/images/svgs/icon-dd-mobile.svg"
                                            class="h-6 w-6">
                                    </span>
                                    <div class>
                                        <h6
                                            class="text-fs_15  mb-1  group-hover:text-primary">
                                            Contact Application
                                        </h6>
                                        <p
                                            class="text-xs text-link dark:text-darklink  font-normal">
                                            2 Unsaved Contacts</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="../../../horizontal/app-email.html"
                                    class="flex gap-3 items-center group relative ">
                                    <span
                                        class="bg-lightgray dark:bg-darkprimary  h-11 w-11 flex justify-center items-center rounded-sm">
                                        <img
                                            src="../../../assets/images/svgs/icon-dd-message-box.svg"
                                            class="h-6 w-6">
                                    </span>
                                    <div class>
                                        <h6
                                            class="text-fs_15  mb-1  group-hover:text-primary ">
                                            Email App
                                        </h6>
                                        <p
                                            class="text-xs text-link dark:text-darklink  font-normal">
                                            Get new emails</p>
                                    </div>

                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-span-12 lg:col-span-6 flex items-stretch">
                        <ul class="flex flex-col gap-5">
                            <li>
                                <a href="../../../horizontal/eco-shop.html"
                                    class="flex gap-3 items-center group relative ">
                                    <span
                                        class="bg-lightgray dark:bg-darkprimary  h-11 w-11 flex justify-center items-center rounded-sm">
                                        <img
                                            src="../../../assets/images/svgs/icon-dd-cart.svg"
                                            class="h-6 w-6">
                                    </span>
                                    <div class>
                                        <h6
                                            class="text-fs_15  mb-1  group-hover:text-primary ">
                                            eCommerce App

                                        </h6>
                                        <p
                                            class="text-xs text-link dark:text-darklink  font-normal">
                                            learn more information</p>
                                    </div>

                                </a>
                            </li>
                            <li>
                                <a href="../../../horizontal/app-calendar.html"
                                    class="flex gap-3 items-center group relative ">
                                    <span
                                        class="bg-lightgray dark:bg-darkprimary  h-11 w-11 flex justify-center items-center rounded-sm">
                                        <img
                                            src="../../../assets/images/svgs/icon-dd-date.svg"
                                            class="h-6 w-6">
                                    </span>
                                    <div class>
                                        <h6
                                            class="text-fs_15  mb-1  group-hover:text-primary ">
                                            Calendar App
                                        </h6>
                                        <p
                                            class="text-xs text-link dark:text-darklink  font-normal">
                                            Get dates</p>
                                    </div>

                                </a>
                            </li>
                            <li>
                                <a href="../../../horizontal/app-contact2.html"
                                    class="flex gap-3 items-center group relative ">
                                    <span
                                        class="bg-lightgray dark:bg-darkprimary  h-11 w-11 flex justify-center items-center rounded-sm">
                                        <img
                                            src="../../../assets/images/svgs/icon-dd-lifebuoy.svg"
                                            class="h-6 w-6">
                                    </span>
                                    <div class>
                                        <h6
                                            class="text-fs_15  mb-1  group-hover:text-primary ">
                                            Contact List Table

                                        </h6>
                                        <p
                                            class="text-xs text-link dark:text-darklink  font-normal">
                                            Add new contact</p>
                                    </div>

                                </a>
                            </li>
                            <li>
                                <a href="../../../horizontal/app-notes.html"
                                    class="flex gap-3 items-center group relative ">
                                    <span
                                        class="bg-lightgray dark:bg-darkprimary  h-11 w-11 flex justify-center items-center rounded-sm">
                                        <img
                                            src="../../../assets/images/svgs/icon-dd-application.svg"
                                            class="h-6 w-6">
                                    </span>
                                    <div class>
                                        <h6
                                            class="text-fs_15  mb-1  group-hover:text-primary ">
                                            Notes Application

                                        </h6>
                                        <p
                                            class="text-xs text-link dark:text-darklink  font-normal">
                                            To-do and Daily tasks</p>
                                    </div>

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="lg:col-span-4 col-span-12  flex items-strech">
                <div
                    class="lg:p-3 lg:border-s border-border dark:border-darkborder">
                    <h5
                        class="text-lg font-semibold mb-4 text-dark dark:text-white">
                        Quick Links</h5>
                    <ul class="flex flex-col gap-4 pb-3">
                        <li><a href="../../../horizontal/page-pricing.html"
                                class="text-sm font-semibold text-link dark:text-darklink  hover:text-primary hover:dark:text-primary ">Pricing
                                Page</a></li>
                        <li><a href="../../../horizontal/authentication-login.html"
                                class="text-sm font-semibold text-link dark:text-darklink  hover:text-primary hover:dark:text-primary ">Authentication
                                Design</a></li>
                        <li><a
                                href="../../../horizontal/authentication-register.html"
                                class="text-sm font-semibold text-link dark:text-darklink  hover:text-primary hover:dark:text-primary ">Register
                                Now</a></li>
                        <li><a href="../../../horizontal/authentication-error.html"
                                class="text-sm font-semibold text-link dark:text-darklink  hover:text-primary hover:dark:text-primary ">404
                                Error
                                Page</a></li>
                        <li><a href="../../../horizontal/app-notes.html"
                                class="text-sm font-semibold text-link dark:text-darklink  hover:text-primary hover:dark:text-primary ">Notes
                                App</a>
                        </li>
                        <li><a href="../../../horizontal/page-user-profile.html"
                                class="text-sm font-semibold text-link dark:text-darklink  hover:text-primary hover:dark:text-primary ">User
                                Application</a></li>
                        <li><a
                                href="../../../horizontal/blog-posts.html"
                                class="text-sm font-semibold text-link dark:text-darklink  hover:text-primary hover:dark:text-primary">Blog
                                Design</a></li>
                        <li><a
                                href="../../../horizontal/eco-checkout.html"
                                class="text-sm font-semibold text-link dark:text-darklink  hover:text-primary hover:dark:text-primary">Shopping
                                Cart</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>