


<div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden w-[385px] bg-white shadow-md rounded-lg p-0 mt-2 dark:bg-gray-800 dark:divide-gray-700 after:h-4 after:absolute after:-bottom-4 after:start-0 after:w-full before:h-4 before:absolute before:-top-4 before:start-0 before:w-full" aria-labelledby="hs-dropdown-default">
  <div class="flex flex-col bg-white dark:bg-dark  shadow-sm  pointer-events-auto rounded-md">
    <div class="p-4 overflow-y-auto">
      <input type="text" class="form-control rounded-sm py-2 border-bordergray text-dark dark:text-darklink text-sm  placeholder:text-dark dark:placeholder:text-darklink placeholder:opacity-100 font-medium" placeholder="Try to searching ...">
    </div>
    <div class="items-center gap-x-2 py-3 px-5 border-t border-border dark:border-darkborder">

        <div class="overflow-hidden">
            <h5 class="card-title mb-2">Quick Page Links</h5>
            <div class="message-body max-h-[300px]"  data-simplebar="">
              <ul>
                <li class="bg-hover py-2 px-3 rounded-sm">
                  <a href="#" class="font-semibold text-sm text-link dark:text-darklink ">
                    Modern
                    <p class="text-sm text-link dark:text-darklink opacity-50 font-normal">/dashboards/modern</p>
                  </a>
                </li>
                <li class="bg-hover py-2 px-3 rounded-sm">
                  <a href="#" class="font-semibold text-sm text-link dark:text-darklink">
                    eCommerce
                    <p class="text-sm text-link dark:text-darklink opacity-50 font-normal">/dashboards/ecommerce</p>
                  </a>
                </li>
                <li class="bg-hover py-2 px-3 rounded-sm">
                  <a href="#" class="font-semibold text-sm text-link dark:text-darklink">
                    Contacts
                    <p class="text-sm text-link dark:text-darklink opacity-50 font-normal">/apps/contacts</p>
                  </a>
                </li>
                <li class="bg-hover py-2 px-3 rounded-sm">
                  <a href="#" class="font-semibold text-sm text-link dark:text-darklink">
                    Shop
                    <p class="text-sm text-link dark:text-darklink opacity-50 font-normal">/ecommerce/products</p>
                  </a>
                </li>
                <li class="bg-hover py-2 px-3 rounded-sm">
                  <a href="#" class="font-semibold text-sm text-link dark:text-darklink">
                    Checkout
                    <p class="text-sm text-link dark:text-darklink opacity-50 font-normal">/ecommerce/checkout</p>
                  </a>
                </li>
                <li class="bg-hover py-2 px-3 rounded-sm">
                  <a href="#" class="font-semibold text-sm text-link dark:text-darklink">
                    Chats
                    <p class="text-sm text-link dark:text-darklink opacity-50 font-normal">/apps/chats</p>
                  </a>
                </li>
                <li class="bg-hover py-2 px-3 rounded-sm">
                  <a href="#" class="font-semibold text-sm text-link dark:text-darklink">
                    Notes
                    <p class="text-sm text-link dark:text-darklink opacity-50 font-normal">/apps/notes</p>
                  </a>
                </li>
                <li class="bg-hover py-2 px-3 rounded-sm">
                  <a href="#" class="font-semibold text-sm text-link dark:text-darklink">
                    Pricing
                    <p class="text-sm text-link dark:text-darklink opacity-50 font-normal">/pages/pricing</p>
                  </a>
                </li>
                <li class="bg-hover py-2 px-3 rounded-sm">
                  <a href="#" class="font-semibold text-sm text-link dark:text-darklink">
                    Account Setting
                    <p class="text-sm text-link dark:text-darklink opacity-50 font-normal">/pages/account-settings</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        
    </div>
   </div>
</div>


