<div class="hs-dropdown xl:[--strategy:absolute] [--adaptive:none] md:[--trigger:hover] sm:relative  group/menu">
    <a id="hs-dropdown-hover-event-messages" class="relative hs-dropdown-toggle h-10 w-10 text-link dark:text-darklink cursor-pointer hover:bg-lightprimary  hover:text-primary dark:hover:bg-darkprimary flex justify-center items-center rounded-full group-hover/menu:bg-lightprimary group-hover/menu:text-primary">
        <iconify-icon icon="solar:chat-dots-line-duotone" class=" text-2xl relative z-[1]"></iconify-icon>
        <span class="flex absolute top-2 end-[9px] -mt-0.5 -me-2">
            <span class="animate-ping absolute inline-flex size-full rounded-full bg-yellow-400 opacity-75 dark:bg-yellow-600"></span>
            <span class="relative inline-flex text-xs bg-yellow-500 text-white rounded-full py-0.5 px-1">
              <div class="h-1 rounded-full bg-primary"></div>
            </span>
          </span>
    </a>
    <div class="card hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 right-0 rtl:right-auto rtl:left-0 mt-2 min-w-max top-auto w-full sm:w-[385px] hidden z-[2]"
        aria-labelledby="hs-dropdown-hover-event-messages">
        <div class="flex items-center pt-6 px-7 gap-4">
            <h3 class="mb-0 text-lg font-semibold text-dark dark:text-white">
                Messages</h3>
            <span class="py-1 px-3 border-0 badge text-xs font-medium bg-info text-white">5
                new</span>
        </div>
        <div class="message-body max-h-[320px] pt-4" data-simplebar="">
            <a href="javascript:void(0)" class="dropdown-item px-7 py-3 flex justify-between items-center bg-hover">
                <div class="flex items-center">
                    <span class="flex-shrink-0">
                        <img src="../../../assets/images/profile/user-2.jpg" alt="user" class="rounded-full w-12 h-12">
                    </span>
                    <div class="ps-4">
                        <h5 class="mb-1 font-medium text-sm">
                            Mark Edverds
                        </h5>
                        <span class="text-xs block ">just sent you new message</span>
                    </div>
                </div>
                <span class="text-xs block  self-start pt-1.5">09:00 AM</span>
            </a>
            <a href="javascript:void(0)" class="dropdown-item px-7 py-3 flex items-center justify-between bg-hover">
                <div class="flex items-center">
                    <span class="flex-shrink-0">
                        <img src="../../../assets/images/profile/user-3.jpg" alt="user" class="rounded-full w-11">
                    </span>
                    <div class="ps-4">
                        <h5 class="mb-1 font-medium text-sm">
                            John Mckay
                        </h5>
                        <span class="text-xs block ">new message from john</span>
                    </div>
                </div>
                <span class="text-xs block  self-start pt-1.5">10.00 AM</span>
            </a>
            <a href="javascript:void(0)" class="dropdown-item px-7 py-3 flex items-center justify-between bg-hover">
                    <div class="flex items-center">
                        <span class="flex-shrink-0">
                            <img src="../../../assets/images/profile/user-4.jpg" alt="user" class="rounded-full w-12 h-12">
                        </span>
                        <div class="ps-4">
                            <h5 class="mb-1 font-medium text-sm">
                                Roman Ray
                            </h5>
                            <span class="text-xs block ">new message from roman</span>
                        </div>
                    </div>
                    <span class="text-xs block  self-start pt-1.5">09:08 AM</span>
            </a>

            <a href="javascript:void(0)" class="dropdown-item px-7 py-3 flex justify-between items-center bg-hover">
                <div class="flex items-center">
                    <span class="flex-shrink-0">
                        <img src="../../../assets/images/profile/user-5.jpg" alt="user" class="rounded-full w-11">
                    </span>
                    <div class="ps-4">
                        <h5 class="mb-1 font-medium text-sm">
                            Jolly Writes
                        </h5>
                        <span class="text-xs block ">just sent you new message</span>
                    </div>
                </div>
                <span class="text-xs block  self-start pt-1.5">10:00 AM</span>
            </a>
            <a href="javascript:void(0)" class="dropdown-item px-7 py-3 flex items-center justify-between bg-hover">
            <div class="flex items-center">
                <span class="flex-shrink-0">
                    <img src="../../../assets/images/profile/user-6.jpg" alt="user" class="rounded-full w-11">
                </span>
                <div class="ps-4">
                    <h5 class="mb-1 font-medium text-sm">
                        Ruby Allen
                    </h5>
                    <span class="text-xs block ">just sent you new message</span>
                </div>
            </div>
            <span class="text-xs block  self-start pt-1.5">11.00 AM</span>
            </a>
        </div>
        <div class="pt-3 pb-6 px-7">
            <a href="#" class="btn w-full block">
                See All Messages
            </a>
        </div>
    </div>
</div>