
<div
    class="hs-dropdown xl:[--strategy:absolute] [--adaptive:none] md:[--trigger:hover] sm:relative group/menu">
    <a id="hs-dropdown-hover-event-notification"
        class="relative hs-dropdown-toggle h-10 w-10 text-link dark:text-darklink cursor-pointer hover:bg-lightprimary  hover:text-primary dark:hover:bg-darkprimary flex justify-center items-center rounded-full group-hover/menu:bg-lightprimary group-hover/menu:text-primary">
        <iconify-icon icon="solar:bell-bing-line-duotone"
            class="text-2xl relative z-[1]"></iconify-icon>
        <span class="flex absolute top-2 end-3 -mt-0.5 -me-2">
            <span
                class="animate-ping absolute inline-flex size-full rounded-full bg-teal-400 opacity-75 dark:bg-teal-600"></span>
            <span
                class="relative inline-flex text-xs bg-teal-500 text-white rounded-full py-0.5 px-1">
                <div class="h-1 rounded-full bg-primary"></div>
            </span>
        </span>
    </a>
    <div
        class="card hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 right-0 rtl:right-auto rtl:left-0 mt-2 min-w-max top-auto w-full sm:w-[360px] hidden z-[2]"
        aria-labelledby="hs-dropdown-hover-event-notification">
        <div class="flex items-center pt-6 px-7 gap-4">
            <h3 class="mb-0 text-lg font-semibold ">
                Notifications</h3>
            <span
                class="py-1 px-3 border-0 badge text-xs font-medium bg-warning text-white">5
                new</span>
        </div>
        <div class="message-body max-h-[320px] pt-4" data-simplebar>
            <a href="javascript:void(0)"
                class="dropdown-item px-7 py-3 flex items-center bg-hover">
                <span
                    class="flex-shrink-0 h-12 w-12 rounded-full bg-lightprimary dark:bg-darkprimary flex justify-center items-center">
                    <iconify-icon icon="solar:widget-3-line-duotone"
                        class="text-primary text-xl"></iconify-icon>
                </span>
                <div class="ps-4">
                    <h5 class="font-medium text-sm">
                        Launch Admin
                    </h5>
                    <span class="text-xs block my-0.5">Just see the my new
                        admin!</span>
                    <p class="text-xs">9.00 AM</p>
                </div>
            </a>
            <a href="javascript:void(0)"
                class="dropdown-item px-7 py-3 flex items-center bg-hover">
                <span
                    class="flex-shrink-0 h-12 w-12 rounded-full bg-lightsuccess dark:bg-darksuccess flex justify-center items-center">
                    <iconify-icon icon="solar:user-circle-outline"
                        class="text-success text-xl"></iconify-icon>
                </span>
                <div class="ps-4">
                    <h5 class="font-medium text-sm ">
                        Meeting Today
                    </h5>
                    <span class="text-xs block my-0.5">Just a reminder that you have
                        meeting</span>
                    <p class="text-xs">10.00 AM</p>
                </div>
            </a>
            <a href="javascript:void(0)"
                class="dropdown-item px-7 py-3 flex items-center bg-hover">
                <span
                    class="flex-shrink-0 h-12 w-12 rounded-full bg-lighterror dark:bg-darkerror flex justify-center items-center">
                    <iconify-icon icon="solar:calendar-line-duotone"
                        class="text-error text-xl"></iconify-icon>
                </span>
                <div class="ps-4">
                    <h5 class="font-medium text-sm ">
                        Go for Event
                    </h5>
                    <span class="text-xs block my-0.5">Just a reminder that you have
                        event</span>
                    <p class="text-xs">09.00 AM</p>
                </div>
            </a>
            <a href="javascript:void(0)"
                class="dropdown-item px-7 py-3 flex items-center bg-hover">
                <span
                    class="flex-shrink-0 h-12 w-12 rounded-full bg-lightindigo dark:bg-darkindigo flex justify-center items-center">
                    <iconify-icon icon="solar:dollar-line-duotone"
                        class="text-indigo text-xl"></iconify-icon>
                </span>
                <div class="ps-4">
                    <h5 class="font-medium text-sm ">
                        Pay Bills
                    </h5>
                    <span class="text-xs block my-0.5">Just a reminder that you have pay
                        </span>
                    <p class="text-xs">11.00 AM</p>
                </div>
            </a>
            <a href="javascript:void(0)"
            class="dropdown-item px-7 py-3 flex items-center bg-hover">
            <span
                class="flex-shrink-0 h-12 w-12 rounded-full bg-lightinfo dark:bg-darkinfo flex justify-center items-center">
                <iconify-icon icon="solar:settings-linear"
                    class="text-info text-xl"></iconify-icon>
            </span>
            <div class="ps-4">
                <h5 class="font-medium text-sm ">
                    Settings
                </h5>
                <span class="text-xs block my-0.5">You can customize the template</span>
                <p class="text-xs">12.00 AM</p>
            </div>
        </a>

        </div>
        <div class="pt-3 pb-6 px-7">
            <a href="#" class="btn w-full block">
                See All Notification
            </a>
        </div>
    </div>
</div>