<nav class="relative py-4">
    <div class="container">
        <div class="flex gap-6 items-center relative">
            <!-- Dashboard -->
            <div
                class="hs-dropdown  [--strategy:static] lg:[--strategy:absolute] md:[--trigger:hover] [--adaptive:none] relative">
                <button type="button"
                    class="single-link-horizontal font-medium item-horizontal before:bg-lightprimary hover:text-primary
                    
                ">
                    <iconify-icon icon="solar:atom-line-duotone"
                        class="text-xl p-2"></iconify-icon>
                    Dashboard<i
                        class="ti ti-chevron-down  ms-auto  text-md"></i>
                </button>
                <div
                    class="py-4 px-3 hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] sm:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 left-0 hidden z-10 sm:mt-4 top-full start-0 min-w-64  before:absolute lg:bg-white bg-transparent dark:bg-dark lg:shadow-md shadow-none">
                    <a class="dropdown-link-horizontal
                "
                        href="../../horizontal/index.html">
                        <i class="ti ti-circle text-sm"></i>Dashboard
                    </a>
                    <a
                        class="dropdown-link-horizontal  "
                        href="../../horizontal/index2.html">
                        <i class="ti ti-circle text-sm"></i>Dashboard 2
                    </a>
                </div>
            </div>

            <!-- Apps -->
            <div
                class="hs-dropdown  [--strategy:static] lg:[--strategy:absolute] md:[--trigger:hover] [--adaptive:none] relative">
                <button type="button"
                    class="single-link-horizontal font-medium item-horizontal before:bg-lightindigo hover:text-indigo
                
                ">
                    <iconify-icon icon="solar:archive-broken"
                        class="text-xl p-2"></iconify-icon>
                    Apps<i class="ti ti-chevron-down  ms-auto  text-md"></i>
                </button>
                <div
                    class="py-4 px-3 hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] sm:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 left-0 hidden z-10 sm:mt-4 top-full start-0 min-w-96  before:absolute lg:bg-white bg-transparent dark:bg-dark lg:shadow-md shadow-none">
                    <div class="grid grid-cols-12">

                        <div class="col-span-6">
                            <a class="dropdown-link-horizontal  
                                "
                                href="../../horizontal/app-calendar.html">
                                <i
                                    class="ti ti-calendar text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Calendar</span>
                            </a>
                        </div>
                        <div class="col-span-6">
                            <a class="dropdown-link-horizontal  
                                "
                                href="../../horizontal/app-kanban.html">
                                <i
                                    class="ti ti-layout-kanban text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Kanban</span>
                            </a>
                        </div>
                        <div class="col-span-6">
                            <a class="dropdown-link-horizontal  
                                "
                                href="../../horizontal/app-chat.html">
                                <i
                                    class="ti ti-message-dots text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Chat</span>
                            </a>
                        </div>
                        <div class="col-span-6">
                            <a class="dropdown-link-horizontal  
                                "
                                href="../../horizontal/app-email.html">
                                <i
                                    class="ti ti-mail text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Email</span>
                            </a>
                        </div>
                        <div class="col-span-6">
                            <a class="dropdown-link-horizontal  
                                "
                                href="../../horizontal/app-contact.html">
                                <i
                                    class="ti ti-phone text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Contact
                                    Table</span>
                            </a>
                        </div>
                        <div class="col-span-6">
                            <a class="dropdown-link-horizontal  
                                "
                                href="../../horizontal/app-contact2.html">
                                <i
                                    class="ti ti-list-details text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Contact
                                    List</span>
                            </a>
                        </div>
                        <div class="col-span-6">
                            <a class="dropdown-link-horizontal  
                                "
                                href="../../horizontal/app-notes.html">
                                <i
                                    class="ti ti-notes text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Notes</span>
                            </a>
                        </div>
                        <div class="col-span-6">
                            <a class="dropdown-link-horizontal  
                                "
                                href="../../horizontal/app-invoice.html">
                                <i
                                    class="ti ti-file-text text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Invoice</span>
                            </a>
                        </div>
                        <div class="col-span-6">
                            <a class="dropdown-link-horizontal  
                                "
                                href="../../horizontal/page-user-profile.html">
                                <i
                                    class="ti ti-user-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">User
                                    Profile</span>
                            </a>
                        </div>
                        <div class="col-span-6">
                            <a class="dropdown-link-horizontal  
                                "
                                href="../../horizontal/blog-posts.html">
                                <i
                                    class="ti ti-article text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Posts</span>
                            </a>
                        </div>
                        <div class="col-span-6">
                            <a class="dropdown-link-horizontal  
                                "
                                href="../../horizontal/blog-detail.html">
                                <i
                                    class="ti ti-article text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Details</span>
                            </a>
                        </div>
                        <div class="col-span-6">
                            <a class="dropdown-link-horizontal  
                                "
                                href="../../horizontal/eco-shop.html">
                                <i
                                    class="ti ti-shopping-cart text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Shop</span>
                            </a>
                        </div>
                        <div class="col-span-6">
                            <a class="dropdown-link-horizontal  
                                "
                                href="../../horizontal/eco-shop-detail.html">
                                <i
                                    class="ti ti-basket text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Shop
                                    Detail</span>
                            </a>
                        </div>
                        <div class="col-span-6">
                            <a class="dropdown-link-horizontal  
                                "
                                href="../../horizontal/eco-product-list.html">
                                <i
                                    class="ti ti-list-check text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">List</span>
                            </a>
                        </div>
                        <div class="col-span-6">
                            <a class="dropdown-link-horizontal  
                                "
                                href="../../horizontal/eco-checkout.html">
                                <i
                                    class="ti ti-brand-shopee text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Checkout</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Pages -->
            <div
                class="hs-dropdown  [--strategy:static] lg:[--strategy:absolute] md:[--trigger:hover] [--adaptive:none] relative">
                <button type="button"
                    class="single-link-horizontal font-medium item-horizontal before:bg-lighterror hover:text-error
                        
                ">
                    <iconify-icon icon="solar:file-text-line-duotone"
                        class="text-xl p-2"></iconify-icon>
                    Pages<i class="ti ti-chevron-down  ms-auto  text-md"></i>
                </button>
                <div
                    class="py-4 px-3 hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] sm:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 left-0 hidden z-10 sm:mt-4 top-full start-0 min-w-64  before:absolute lg:bg-white bg-transparent dark:bg-dark lg:shadow-md shadow-none">
                    <a class="dropdown-link-horizontal
                    "
                        href="../../horizontal/page-faq.html">
                        <i class="ti ti-help text-base flex-shrink-0"></i> <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">FAQ</span>
                    </a>
                    <a class="dropdown-link-horizontal
                    "
                        href="../../horizontal/page-account-settings.html">
                        <i
                            class="ti ti-user-circle text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Account
                            Setting</span>
                    </a>
                    <a class="dropdown-link-horizontal
                    "
                        href="../../horizontal/page-pricing.html">
                        <i
                            class="ti ti-currency-dollar text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Pricing</span>
                    </a>
                    <a class="dropdown-link-horizontal
                    "
                        href="../../horizontal/widgets-cards.html">
                        <i class="ti ti-cards text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Cards</span>
                    </a>
                    <a class="dropdown-link-horizontal
                    "
                        href="../../horizontal/widgets-banners.html">
                        <i class="ti ti-ad text-base flex-shrink-0"></i> <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Banner</span>
                    </a>
                    <a class="dropdown-link-horizontal
                    "
                        href="../../horizontal/widgets-charts.html">
                        <i class="ti ti-chart-bar text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Charts</span>
                    </a>
                    <a class="dropdown-link-horizontal
                    "
                        href="../../landingpage/index.html">
                        <i class="ti ti-app-window text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Landing
                            Page</span>
                    </a>
                </div>
            </div>

            <!-- UI -->
            <div
                class="hs-dropdown  [--strategy:static] lg:[--strategy:absolute] [--adaptive:none] sm:[--trigger:hover] ">
                <button type="button"
                    class="single-link-horizontal font-medium item-horizontal before:bg-lightwarning hover:text-warning
                        
                ">
                    <iconify-icon icon="solar:cpu-bolt-line-duotone"
                        class="text-xl p-2"></iconify-icon>
                    UI<i class="ti ti-chevron-down  ms-auto  text-md"></i>
                </button>
                <div
                    class="py-4 px-3 hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] sm:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 left-0 hidden z-10 sm:mt-4 top-full start-0 w-full  before:absolute lg:bg-white bg-transparent dark:bg-dark lg:shadow-md shadow-none">
                    <div class="grid grid-cols-12">
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-accordion.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Accordion</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-badge.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Badge</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-button.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Button</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-dropdowns.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Dropdowns</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-modals.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Modals</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-tab.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Tab</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-tooltip-popover.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Tooltip
                                    & Popover</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-notification.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Notification</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-progressbar.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Progressbar</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-pagination.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Pagination</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-typography.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Typography</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-breadcrumb.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Breadcrumb</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-offcanvas.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Offcanvas</span>
                            </a>
                        </div>

                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-lists.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Lists</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-grid.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Grid</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-carousel.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Carousel</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-scrollspy.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Scrollspy</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-spinner.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Spinner</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-link.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Link</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-chat-bubbles.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Chat
                                    Bubbles</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-datepicker.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Datepicker</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-devices.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Devices</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-ratings.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Ratings</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-stepper.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Stepper</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-timeline.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Timeline</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-toasts.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Toasts</span>
                            </a>
                        </div>
                        <div class="col-span-3">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/ui-skeleton.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Skeleton</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Forms -->
            <div
                class="hs-dropdown  [--strategy:static] lg:[--strategy:absolute] md:[--trigger:hover] [--adaptive:none] relative">
                <button type="button"
                    class="single-link-horizontal font-medium item-horizontal before:bg-lightsuccess hover:text-success
                        
                ">
                    <iconify-icon icon="solar:book-2-line-duotone"
                        class="text-xl p-2"></iconify-icon>
                    Forms<i class="ti ti-chevron-down  ms-auto  text-md"></i>
                </button>
                <div
                    class="py-4 px-3 hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] sm:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 left-0 hidden z-10 sm:mt-4 top-full start-0 min-w-96  before:absolute lg:bg-white bg-transparent dark:bg-dark lg:shadow-md shadow-none">
                    <div class="grid grid-cols-12">
                        <div class="col-span-6">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/form-inputs.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Forms
                                    Input</span>
                            </a>
                        </div>
                        <div class="col-span-6">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/form-input-groups.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Input
                                    Groups</span>
                            </a>
                        </div>
                        <div class="col-span-6">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/form-checkbox-radio.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Checkbox
                                    & Radios</span>
                            </a>
                        </div>
                        <div class="col-span-6">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/form-input-grid.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Input
                                    Grid</span>
                            </a>
                        </div>
                        <div class="col-span-6">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/form-input-number.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Input
                                    Number</span>
                            </a>
                        </div>
                        <div class="col-span-6">
                            <a class="dropdown-link-horizontal
                            "
                                href="../../horizontal/form-advanced-password.html">
                                <i
                                    class="ti ti-circle text-base flex-shrink-0"></i>
                                <span
                                    class="hide-menu flex-shrink-0 text-sm leading-tight">Advanced
                                    Password</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Tables -->
            <div
                class="hs-dropdown  [--strategy:static] lg:[--strategy:absolute] md:[--trigger:hover] [--adaptive:none] relative">
                <button type="button"
                    class="single-link-horizontal font-medium item-horizontal before:bg-lightsuccess hover:text-success
                        
                ">
                    <iconify-icon icon="solar:bedside-table-2-line-duotone"
                        class="text-xl p-2"></iconify-icon>
                    Tables<i class="ti ti-chevron-down  ms-auto  text-md"></i>
                </button>
                <div
                    class="py-4 px-3 hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] sm:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 left-0 hidden z-10 sm:mt-4 top-full start-0 min-w-64  before:absolute lg:bg-white bg-transparent dark:bg-dark lg:shadow-md shadow-none">
                    <a class="dropdown-link-horizontal
             "
                        href="../../horizontal/table-basic.html">
                        <i class="ti ti-circle text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Basic
                            Table</span>
                    </a>
                    <a class="dropdown-link-horizontal
             "
                        href="../../horizontal/table-layout-highlighted.html">
                        <i class="ti ti-circle text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Highlighted
                            Table</span>
                    </a>
                    <a class="dropdown-link-horizontal
             "
                        href="../../horizontal/table-miscellaneous.html">
                        <i class="ti ti-circle text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Miscellaneous
                            Table</span>
                    </a>
                    <a class="dropdown-link-horizontal
             "
                        href="../../horizontal/table-editable.html">
                        <i class="ti ti-circle text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Editable
                            Table</span>
                    </a>
                    <a class="dropdown-link-horizontal
             "
                        href="../../horizontal/table-datatabel-basic.html">
                        <i class="ti ti-circle text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Basic DataTable</span>
                    </a>
                </div>
            </div>

            <!-- Charts -->
            <div
                class="hs-dropdown  [--strategy:static] lg:[--strategy:absolute] md:[--trigger:hover] [--adaptive:none] relative">
                <button type="button"
                    class="single-link-horizontal font-medium item-horizontal before:bg-lightsecondary hover:text-secondary
                        
            ">
                    <iconify-icon
                        icon="solar:dropper-minimalistic-2-line-duotone"
                        class="text-xl p-2"></iconify-icon>
                    Charts<i class="ti ti-chevron-down  ms-auto  text-md"></i>
                </button>
                <div
                    class="py-4 px-3 hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] sm:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 left-0 hidden z-10 sm:mt-4 top-full start-0 min-w-64  before:absolute lg:bg-white bg-transparent dark:bg-dark lg:shadow-md shadow-none">
                    <a class="dropdown-link-horizontal
                     "
                        href="../../horizontal/chart-apex-line.html">
                        <i class="ti ti-circle text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Line
                            Chart</span>
                    </a>
                    <a class="dropdown-link-horizontal
                     "
                        href="../../horizontal/chart-apex-area.html">
                        <i class="ti ti-circle text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Area
                            Chart</span>
                    </a>
                    <a class="dropdown-link-horizontal
                     "
                        href="../../horizontal/chart-apex-bar.html">
                        <i class="ti ti-circle text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Bar
                            Chart</span>
                    </a>
                    <a class="dropdown-link-horizontal
                     "
                        href="../../horizontal/chart-apex-pie.html">
                        <i class="ti ti-circle text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Pie
                            Chart</span>
                    </a>
                    <a class="dropdown-link-horizontal
                     "
                        href="../../horizontal/chart-apex-radial.html">
                        <i class="ti ti-circle text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Radial
                            Chart</span>
                    </a>
                    <a class="dropdown-link-horizontal
                     "
                        href="../../horizontal/chart-apex-radar.html">
                        <i class="ti ti-circle text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Radar
                            Chart</span>
                    </a>
                </div>
            </div>

            <!-- Auth -->
            <div
                class="hs-dropdown  [--strategy:static] lg:[--strategy:absolute] md:[--trigger:hover] [--adaptive:none] relative">
                <button type="button"
                    class="single-link-horizontal font-medium item-horizontal before:bg-lightsuccess hover:text-success
                        
            ">
                    <iconify-icon
                        icon="solar:lock-keyhole-line-duotone"
                        class="text-xl p-2"></iconify-icon>
                    Auth<i class="ti ti-chevron-down  ms-auto  text-md"></i>
                </button>
                <div
                    class="py-4 px-3 hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] sm:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 left-0 hidden z-10 sm:mt-4 top-full start-0 min-w-64  before:absolute lg:bg-white bg-transparent dark:bg-dark lg:shadow-md shadow-none">
                    <a class="dropdown-link-horizontal
                     "
                        href="../../horizontal/authentication-error.html">
                        <i class="ti ti-circle text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Error</span>
                    </a>
                    <a class="dropdown-link-horizontal
                     "
                        href="../../horizontal/authentication-login2.html">
                        <i class="ti ti-circle text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Boxed
                            Login</span>
                    </a>
                    <a class="dropdown-link-horizontal
                     "
                        href="../../horizontal/authentication-login2.html">
                        <i class="ti ti-circle text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Boxed
                            Login</span>
                    </a>
                    <a class="dropdown-link-horizontal
                     "
                        href="../../horizontal/authentication-register.html">
                        <i class="ti ti-circle text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Side
                            Register</span>
                    </a>
                    <a class="dropdown-link-horizontal
                    "
                        href="../../horizontal/authentication-register2.html">
                        <i class="ti ti-circle text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Boxed
                            Register</span>
                    </a>
                    <a class="dropdown-link-horizontal
                    "
                        href="../../horizontal/authentication-forgot-password.html">
                        <i class="ti ti-circle text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Side
                            Forgot Password</span>
                    </a>
                    <a class="dropdown-link-horizontal
                   "
                        href="../../horizontal/authentication-forgot-password2.html">
                        <i class="ti ti-circle text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Boxed
                            Forgot Password</span>
                    </a>
                    <a class="dropdown-link-horizontal
                  "
                        href="../../horizontal/authentication-two-steps.html">
                        <i class="ti ti-circle text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Side
                            Two Steps</span>
                    </a>
                    <a class="dropdown-link-horizontal
                 "
                        href="../../horizontal/authentication-two-steps2.html">
                        <i class="ti ti-circle text-base flex-shrink-0"></i>
                        <span
                            class="hide-menu flex-shrink-0 text-sm leading-tight">Boxed
                            Two Steps</span>
                    </a>
                    <a class="dropdown-link-horizontal
                    "
                           href="../../horizontal/authentication-maintenance.html">
                           <i class="ti ti-circle text-base flex-shrink-0"></i>
                           <span
                               class="hide-menu flex-shrink-0 text-sm leading-tight">Maintenance</span>
                       </a>
                </div>
            </div>

        </div>
    </div>
</nav>