<div class="card mb-6 shadow-none">
    <div class="card-body p-6">
        <div class="sm:flex items-center justify-between ">
            <h4 class="font-semibold text-xl text-dark dark:text-white">@@title</h4>
            <ol class="flex items-center " aria-label="Breadcrumb">
                <li class="flex items-center">
                    <a class="text-sm font-medium "
                        href="@@webRoot/horizontal/index.html">
                        @@subtitle
                    </a>
                </li>
                <li>
                    <div class="h-1 w-1 rounded-full bg-bodytext mx-2.5 flex items-center mt-1"></div>
                </li>
                <li class="flex items-center text-sm  font-medium " aria-current="page">
                    @@title
                </li>
            </ol>
        </div>
    </div>
</div>